body {
  margin: 0;
  border: 0;

  font-family: Lato;
  color: rgb(214, 214, 214);
  background-color: rgb(0, 0, 0);
}

#content {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: minmax(400px, 40vw) 60vw;
}

/* Header */
.header-container {
  text-align: center;
  grid-column: 1/3;

  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.header {
  text-align: center;
  font-size: xx-large;
  color: white;
  margin-top: 10px;
  margin: 0 20px;
}

/* Side */
.side {
  grid-row: 2/3;
  grid-column: 1/2;

  opacity: 0.8;
}

/* navigation */

.navigation {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 5vw 1fr;
  row-gap: 50px;
  margin-top: 20vh;
  margin-inline: auto;

  min-width: 350px;
  width: 70%;

  padding: 40px 20px;

  border: 1px solid rgb(152, 152, 152);
}

.number {
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}

.nav-item {
  padding: 10px 20px;
  font-size: xxx-large;

  text-align: left;
}

.nav-item:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/* web wrapper */
.web-wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 50px 50px;
}

/* Home */
.home {
  /* display: grid */
  display: none;
  flex-direction: column;
}

.home-title {
  margin: 20px 0px;
  font-size: xx-large;
}

.home-content {
  margin: 20px 0px;
  font-size: large;
  margin-bottom: 100px;
}

.img-container {
  margin: 10px;
  margin-inline: auto;
}

.home-pic {
  width: 350px;
  max-width: 400px;
  transform: rotate(5deg);
}

/* menu */
.menu {
  display: none;
  /* display: grid */
  gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  justify-content: center;
}

.menu-item {
  padding: 20px;
}

.menu-header {
  margin: 20px 0px;
  font-size: xx-large;
  text-transform: uppercase;
}

.menu-content {
  margin: 10px 0px;
}

.menu-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-item {
  margin: 20px 0px;
}

/* contact */
.contact {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 20vh;
  padding: 50px;

  border: 1px solid white;
}

.contact-title {
  text-transform: uppercase;
}

/* footer */
.footer {
}
